body{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(90, 109, 255);
  
}

section {
  display: flex;
}

.category-title {
  color: white;
}

.main-title {
  font-size: 40px;
}

.category-one {
  display: flex;
  gap: 20px;
}

.category-two {
  display: flex;
  gap: 20px;
}

.category-three {
  display: flex;
  gap: 20px;
}